# Screeps Config
screeps.json

# Ignore basic folders
/dist
/node_modules
/typings
/tsc-out

# Ignore Mathematica notebooks so they don't add 50 billion lines to contribution count
/assets/Mathematica

# Ignore Overmind.ts
/src/Overmind.ts

# Ignore Assimilator.ts
/src/assimilation/Assimilator.ts

# yarn lock file
/yarn.lock

/webpack.config.js

# npm lock file (v5.0.0+)
/package-lock.json

# Screeps config file
/config.json
