# Screeps Config
screeps.json

# Ignore basic folders
/dist
/node_modules
/typings
/.rpt2_cache
/tsc-out

# Ignore Mathematica notebooks so they don't add 50 billion lines to contribution count
/assets/Mathematica

# Ignore Overmind.ts
/src/Overmind.ts

# Ignore Assimilator.ts
/src/assimilation/Assimilator.ts

# yarn lock file
/yarn.lock

/webpack.config.js

# npm lock file (v5.0.0+)
/package-lock.json

# Screeps config file
/config.json

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi

# Editor folders
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# VStudio files
applicationhost.config
*.suo
*.njsproj
*.sln